


.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

a {
    text-decoration: none;
}

.container-fill-height {
    display: table!important;
    width: 100%;
    height: 100vh;
}

.container-fill-height .container-content-bottom,
.container-fill-height .container-content-middle {
    display: table-cell;
    vertical-align: middle;
}

.container-fill-height .container-content-bottom {
    vertical-align: bottom;
}


/*
 * 全局页面
 */

body {
    font-family: 'FZZYS';
}

.full {
    min-height: 100vh;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    position: relative;
}

.clock .full {
    width: 100vmin;
}

.full .inner {
    width: 100%;
    padding: 10vmin;
    height: 100vmin;
}


.main1 .title {
    //background: url(../image/title.svg) no-repeat center center;
    max-width: 75vw;
    width: 600px;
    z-index: 1100;
    height: 500px;
    margin: 0 auto
}

.main-nav {
    width: calc((20px * 2 + 80px) * 5);
    margin: 0 auto;
    top: 50%;
    z-index: 900;
    position: relative;
}

.main-nav .item {
    float: left;
    width: 80px;
    margin: 0 20px;
}

@media (max-width: 768px) {
    .main-nav {
        width: calc((10px * 2 + 50px) * 5);
    }
    .main-nav .item {
        width: 50px;
        margin: 0 7px;
    }
}

.auto-p {
    z-index: 20;
}

.main1 .p1_5 {
    position: absolute;
    top: -80px;
    left: 50%;
    opacity: 0;
}

.main1 .p1_6 {
    position: absolute;
    top: 20px;
    left: 50%;
    opacity: 0;
}

.main1 .p1_7 {
    position: absolute;
    bottom: -30px;
    left: -50px;
}

.main1 .p1_7 {
    position: absolute;
    width: 100%;
    max-width: 1570px;
    min-width: 1200px;
}

.main1 .p1_8 {
    position: absolute;
    left: 50%;
    top: 400px;
}

.main1 .p1_9 {
    position: absolute;
    right: -70px;
    top: 500px;
}


/*
 * 钟表
 */

.clock {
    background: #333333;
}

.circle {
    border: 1px solid #ac9055;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.time {
    margin: 0 auto;
    text-align: center;
}

.time h1 {
    font-size: 9vmin;
    color: #c0b595;
}

.hander {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;

    left: 0px;
    right: 0px;
    width: 100%;
    max-width: 1400px;
    white-space: nowrap;
    overflow-x: auto;
}

.new-year .up .item {
    position: relative;
    width: 90px;
    height: 260px;
    text-align: center;
    color: #ffffff;
    font-size: 120%;
    display: inline-block;
    text-shadow: 2px 2px rgba(0, 0, 0, .3);
}

.new-year .up .item:hover {
    cursor: pointer;
    -webkit-animation: swing 1.2s;
}

@-webkit-keyframes swing {
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-transform-origin: top center;
    }
    20% {
        -webkit-transform: rotate(4deg);
    }
    40% {
        -webkit-transform: rotate(-3deg);
    }
    60% {
        -webkit-transform: rotate(2deg);
    }
    80% {
        -webkit-transform: rotate(-1deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

.new-year .up .item {}

.new-year .up .item .item-inner-1,
.new-year .up .item .item-inner-2 {
    //background: url(../image/ChineseKnotting.svg) no-repeat;
    width: 90px;
    height: 200px;
    padding-top: 115px;
    position: absolute;
}

.new-year .up .item .item-inner-1 {}

.new-year .up .item .item-inner-2 {
    position: absolute;
    top: 60px;
}

.new-year .full {

    right: 0;
    margin: 0 auto;
    border: none;
    background: -webkit-linear-gradient(left, hsla(0, 0%, 48%, .9), hsla(0, 0%, 31%, .9));
    cursor: pointer;
    color: #FFFFFF;
    font-size: 17px;
}

.qin .line {
    display: block;
    margin: 0 auto;
    width: calc(((5px * 2) + 120px)*7);
    /* calc( margin * 2 + width ) *item */
    z-index: 2;
}
.key-bg-1,
.key-bg-2,
.key-bg-3,
.key-bg-4,
.key-bg-5,
.key-bg-6,
.key-bg-7 {
    float: left;
    width: 120px;
    height: 120px;
    margin: 5px;
    line-height: 120px;
    text-align: center;
    font-size: 31px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
}

.key-bg-1 {
    background: hsla(50, 70%, 80%, .9);
}

.key-bg-2 {
    background: hsla(100, 70%, 80%, .9);
}

.key-bg-3 {
    background: hsla(150, 70%, 80%, .9);
}

.key-bg-4 {
    background: hsla(200, 70%, 80%, .9);
}

.key-bg-5 {
    background: hsla(250, 70%, 80%, .9);
}

.key-bg-6 {
    background: hsla(300, 70%, 80%, .9);
}

.key-bg-7 {
    background: hsla(0, 70%, 80%, .9);
}

.qin .line kbd {
    position: absolute;
    right: 3px;
    top: 0;
    line-height: 23px;
    font-size: 23px;
}

@media (max-width: 768px) {
    .qin .line {
        width: 100%;
    }
    .key-bg-1,
    .key-bg-2,
    .key-bg-3,
    .key-bg-4,
    .key-bg-5,
    .key-bg-6,
    .key-bg-7 {
        width: 14.28%;
        margin: 0;
        line-height: 60px;
        border-radius: 0;
    }
    .qin .line kbd {
        display: none;
    }
}


/*笔墨纸砚*/

section#page-bmzy video {
    position: absolute;
    height: 100%;
    width: 100%;
}

section#page-bmzy video {
    position: absolute;
    height: 100%;
    width: 100%;
}


